@model IEnumerable<Assig1.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>




<div>
    <!--Button back to regions page-->
    <a asp-action="Index" asp-controller="Regions" class="btn btn-primary btn-sm" style="font-size: 14px;">
        Back to Regions
    </a>
</div>