 <!--Need to change the the model to View model-->
@model IEnumerable<Assig1.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>

<div>
    <!--Button back to regions page-->
    <a asp-action="Index" asp-controller="Regions" class="btn btn-primary btn-sm" style="font-size: 14px;">
        Back to Regions
    </a>
</div>


<!--Displying all the counties data in the country page-->
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>

    </tr>
}




<div>
    <!--Button back to regions page-->
    <a asp-action="Index" asp-controller="Regions" class="btn btn-primary btn-sm" style="font-size: 14px;">
        Back to Regions
    </a>
</div>