@model Assig1.ViewModels.CitiesIndexViewModel

@{
    ViewData["Title"] = "Cities";
}

<h1>Cities</h1>

<!-- Button to navigate back to the previous step -->
<div class="mt-4">
    <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-secondary">Back to Previous Page</a>
</div>